<!--
 * @Author: liuli
 * @Date: 2021-08-04 06:53:41
 * @LastEditTime: 2021-08-04 07:53:17
 * @LastEditors: Please set LastEditors
 * @Description: 
 * @FilePath: /vite/vite-project/src/views/Promise/10_Promise相关面试题2.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>10_Promise相关面试题1</title>
</head>
<body>
  <script>

    // 错误执行结果： 5 2 3 4 1 （注意 2 和 5）
    // 正确的执行结果： 2 5 3 4 1
    // 宏：[]
    // 微： []
    setTimeout(() => {
      console.log(1)
    }, 0)
    new Promise((resolve) => {
      console.log(2)
      resolve()
    }).then(() => {
      console.log(3)
    }).then(() => {
      console.log(4)
    })
    console.log(5)
  </script>
</body>
</html>